.widgetHead {
  background: center no-repeat #dae2e8;
  border-bottom: 1px solid #ccd3da;
  height: 16px;
  color: #45688e;
  font-weight: bold;
  padding: 2px 8px 2px 8px;
  vertical-align: middle;
  line-height: 20px;
  margin-bottom: 3px;
}
.widgetHead a {
  line-height: 16px;
  vertical-align: top;
}
.widgetHead .fl_r {
  font-weight: normal;
}
.widgetHead span {
  line-height: 16px;
  vertical-align:top;
}
.widgetHead span img {
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
}
.widgetHead a.moderLink {
  color: #A9B8CB;
  margin-left: 5px;
}

.mainDiv {
  border: 1px solid #bdc7d2;
  background: #f2f2f2;
}
.userPic {
  overflow: hidden;
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 4px;
}
.userPic img {
  width: 25px;
  height: 25px;
}
.userInfo {
  float: left;
  padding-left: 8px;
  padding-top: 2px;
  color: #999999;
  font-size: 11px;
  font-weight: normal;
}
.userInfo .name {
  display: block;
  font-size: 11px;
}
.userInfo a:hover {
  text-decoration: underline;
  color: #2B587A;
}
#userBlock .userInfo .logout {
  color: #888888;
}
#userBlock .userInfo .logout:hover {
  text-decoration: underline;
  color: #888888;
}
.authBlock {
  padding:3px 3px 6px 3px;
}
.friendsCount {
  padding:0px 10px 0px 10px;
  text-align: center;
  margin: -5px 0px 5px 0px;
}
.friendsList {
  background: #FFFFFF;
  border-top: 1px solid #ccd3da;
  padding: 4px 8px 8px 8px;
}
.friend {
  margin-right: 5px;
}
#userBlock {
  height: 29px;
}

.mainDiv #userBlock a, .mainDiv #userBlock span.link, .mainDiv #userBlock span.linkover {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
}
.mainDiv .vk-button {
    background-color: #36638E;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
    font-size: 11px;
    padding: 4px 7px;
    text-align: center;
}

.button_yes, .button_no {
    cursor: pointer;
    height: auto;
    margin: 2px 5px;
    width: auto;
}
.box_controls .button_yes, .box_controls .button_no {
    float: right;
}
.button_yes div, .button_no div {
    padding: 4px 14px;
    text-align: center;
}
.button_yes a:hover, .button_no a:hover {
    text-decoration: none;
}
.button_yes {
    border: 1px solid #3B6798;
    text-shadow: 0 1px 0 #45688E;
}
.button_yes_bottom {
    border-bottom: 1px solid #2B587A;
}
.button_yes div {
    background-color: #6D8FB3;
    border-color: #7E9CBC #5C82AB #5C82AB;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
}
.button_yes div.button_hover {
    background-color: #84A1BF;
    border-color: #92ACC7 #7293B7 #7293B7;
}
.button_yes div.button_down {
    background-color: #6688AD;
    border-color: #51769E #51779F #7495B8;
}
.button_no {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #9F9F9F #B8B8B8 #B8B8B8;
    border-right: 1px solid #B8B8B8;
    border-style: solid;
    border-width: 1px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.button_no div {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EAEAEA;
    border-color: #FFFFFF #F4F4F4 #DFDFDF;
    border-left: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    text-decoration: none;
}
.button_no div.button_hover {
    background-color: #F7F7F7;
}
.button_no div.button_down {
    background-color: #E4E4E4;
    border-color: #CCCCCC #CBCBCB #E8E8E8;
}