/*
Syntax error: Undefined mixin 'font-size'.
        on line 32 of /home/vic/ruby/pricer/src/partials/_page.scss, in `font-size'
        from line 32 of /home/vic/ruby/pricer/src/partials/_page.scss
        from line 11 of /home/vic/ruby/pricer/src/screen.scss

Backtrace:
/home/vic/ruby/pricer/src/partials/_page.scss:32:in `font-size'
/home/vic/ruby/pricer/src/partials/_page.scss:32
/home/vic/ruby/pricer/src/screen.scss:11
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/import_node.rb:78:in `perform!'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/import_node.rb:64:in `_perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:32:in `block in call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:12:in `cache'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:31:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/rails3_extensions/init.rb:122:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/activesupport-3.0.5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/rack/application_spawner.rb:205:in `start_request_handler'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/rack/application_spawner.rb:170:in `block in handle_spawn_application'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/rack/application_spawner.rb:165:in `handle_spawn_application'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server.rb:180:in `start'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/rack/application_spawner.rb:128:in `start'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/spawn_manager.rb:253:in `block (2 levels) in spawn_rack_application'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/spawn_manager.rb:246:in `block in spawn_rack_application'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server_collection.rb:82:in `block in synchronize'
<internal:prelude>:10:in `synchronize'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/spawn_manager.rb:244:in `spawn_rack_application'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/spawn_manager.rb:137:in `spawn_application'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/vic/.rvm/gems/ruby-1.9.2-p136/gems/passenger-3.0.4/helper-scripts/passenger-spawn-server:99:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'font-size'.\A         on line 32 of /home/vic/ruby/pricer/src/partials/_page.scss, in `font-size'\A         from line 32 of /home/vic/ruby/pricer/src/partials/_page.scss\A         from line 11 of /home/vic/ruby/pricer/src/screen.scss"; }
