- if @items
  .box
    %h2 Найденые записи из справочника
  %table.grid
    %tbody{:id=>'selectable'}
      %tr
        %th Наименование
        %th Прайсов

        - @items.each do |item|
          %tr
            %td{:id=>"item-#{item.id}", :class=>'found_item'}
              =link_to(item.original_description, item)
            %td= item.prices.count
