/*
*= require_self
*= require colorbox.css
*= require token-input.css
*= require token-input-facebook.css
*= require auth
*= require bootstrap-without-forms
*= require formtastic-plus-bootstrap
*/

@import "bootstrap/mixins";
@import "bootstrap/variables";

.bootstrap-forms {


  @import "bootstrap/forms";
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#flot_placeholder {
  width: 100%;
  height: 300px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

#selectable, .selectable {
  .ui-selecting { background: #FECA40 !important; }
  .ui-selected { background: #F39814 !important; color: white;}
}

.nav-collapse .nav a img {
padding-top: 10px;
}

iframe.external-search {
    width:100%;
    height:500px;
}