.widgetHead {
  background: center no-repeat #dae2e8;
  border-bottom: 1px solid #ccd3da;
  height: 16px;
  color: #45688e;
  font-weight: bold;
  padding: 2px 8px 2px 8px;
  vertical-align: middle;
  line-height: 20px;
  margin-bottom: 3px;
}
.widgetHead a {
  line-height: 16px;
  vertical-align: top;
}
.widgetHead .fl_r {
  font-weight: normal;
}
.widgetHead span {
  line-height: 16px;
  vertical-align:top;
}
.widgetHead span img {
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
}
.widgetHead a.moderLink {
  color: #A9B8CB;
  margin-left: 5px;
}

.mainDiv {
  border: 1px solid #bdc7d2;
  background: #f2f2f2;
}
.userPic {
  overflow: hidden;
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 4px;
}
.userPic img {
  width: 25px;
  height: 25px;
}
.userInfo {
  float: left;
  padding-left: 8px;
  padding-top: 2px;
  color: #999999;
  font-size: 11px;
  font-weight: normal;
}
.userInfo .name {
  display: block;
  font-size: 11px;
}
.userInfo a:hover {
  text-decoration: underline;
  color: #2B587A;
}
#userBlock .userInfo .logout {
  color: #888888;
}
#userBlock .userInfo .logout:hover {
  text-decoration: underline;
  color: #888888;
}
.authBlock {
  padding:3px 3px 6px 3px;
}
.friendsCount {
  padding:0px 10px 0px 10px;
  text-align: center;
  margin: -5px 0px 5px 0px;
}
.friendsList {
  background: #FFFFFF;
  border-top: 1px solid #ccd3da;
  padding: 4px 8px 8px 8px;
}
.friend {
  margin-right: 5px;
}
#userBlock {
  height: 29px;
}

.mainDiv #userBlock a, .mainDiv #userBlock span.link, .mainDiv #userBlock span.linkover {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
}
.mainDiv .vk-button {
    background-color: #36638E;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
    font-size: 11px;
    padding: 4px 7px;
    text-align: center;
}

