- flash.each do |key, value|
  %div{ :title => key.to_s.humanize, :class => "alert #{tbs_flash_class(key)}" }
    %a.close{:data => {:dismiss => "alert"}, :href=>"#" }= "&times;".html_safe
    =value
