<%- if Rails.env.production? %>
    <!-- Yandex.Metrika informer -->
    <a href="http://metrika.yandex.ru/stat/?id=7106491&amp;from=informer"
    target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/7106491/2_0_868686FF_666666FF_1_pageviews"
    style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" /></a>
    <!-- /Yandex.Metrika informer -->
<%- end  %>